// Weekly Goals dashboard index.haml

%html{lang: "en"}
    %head
        = stylesheet_link_tag 'application'
        
    %body 
        %h2 Welcome #{@current_user.name}! 
        //%p Your weekly goal is #{@goals.goal} miles.
        
        // = link_to "Edit Weekly Goal", edit_goal_path(@goals)
        //= link_to "Reset Weekly Goal", new_goal_path  
        // should change path in future
        // = link_to "Reset Weekly Goal", goal_path(@goals)